KEY_IDENTITY="123@"
# Rate limit configuation
THROTTLE_TTL=60000
THROTTLE_LIMIT=10

# Coordinator RPC url
RELAYER_RPC_URL="http://127.0.0.1:8545"

# MongoDB configuration
MONGO_DB_URI=mongodb://127.0.0.1:27017
MONGODB_USER=maci
MONGODB_PASSWORD=aaa123
MONGODB_DATABASE=maci-relayer

# Allowed origin host, use comma to separate each of them
ALLOWED_ORIGINS=

# Specify port for coordinator service (optional)
PORT=

# PK phrase
SIGNER_PK=""
NETWORK="hardhat"

SEMAPHORE_ADDRESS="0x06d1530c829366A7fff0069e77c5af6A6FA7db2E"

MAX_MESSAGES=20

# Cron expression for scheduled message publishing
CRON_EXPRESSION=